/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 juin 2015, 15:29:28
    Author     : frhubym
*/
#menu_admin{
    float:left;
    width: 250px;
    background-color: #CCFFFF;
    height: auto;
    margin-top:40px;
    margin-left:40px;
}
menu_gauche{
    float: left;
    width: 250px;
    height: auto;
}
#admin_contenu{
    float: left;
    width: 750px;
    height:300px;
    margin-left:30px;
    background-color: red;
}