/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 juin 2015, 15:29:28
    Author     : frhubym
*/
#menu_admin{
    float:left;
    width: 200px;
    height: auto;
    margin-top:40px;
    margin-left:40px;
   
}

#menu_admin ul{
    list-style: none;
    padding: 5px;
    margin: 5px;
    list-style-type: none;
    background-color: #729EBF;
    color:white;
    height: auto;
     border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
background: -webkit-linear-gradient(top, #2A60AA 33%,#5082B4 66%);
background: -moz-linear-gradient(top, #2A60AA 33%,#5082B4 66%);
background:linear-gradient(to bottom, #2A60AA 33%, #5082B4 66%);
}
#menu_admin li{
    border-right:solid 4px white;
     border-left:solid 4px white;
     border-bottom: solid 2px white;
     border-top: solid 2px white;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 40px;
     padding: 5px;
     margin:5px;
     text-align: center;
     line-height: 2.5;
}

#admin_contenu{
    float: left;
    width: 750px;
    height:300px;
    margin-left:30px;
   #Content{
     background-image: url('/images/website_maintenance1.jpg');
    opacity: 0.25;
   
}
}
#contenu_center{
    float: left;
    width: 750px;
    height:300px;
    margin-left:30px;
}