/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 juin 2015, 15:29:28
    Author     : frhubym
*/
#menu_admin{
    float:left;
    width: 350px;
    background-color: #000077;
    height: auto;
}
menu_gauche{
    float: left;
    width: 250px;
    height: auto;
}
#admin_contenu{
    float: left;
    width: 500px;
    height:300px;
    background-color: red;
}