/* 
    Document   : bouton_objet
    Created on : 7 nov. 2014, 09:59:53
    Author     : FRKeoheuaJ
    Description:
        Purpose of the stylesheet follows.
*/

#bouton_objet {
	cursor:pointer;
	font-family:verdana;
	font-weight:700;
}

