/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 5 juin 2014, 11:37:28
    Author     : mag
*/

#header{
    width: 1024px;
    height: 150px;
    background-image: -moz-linear-gradient(top, #006699 33%, #74aaca 66%);
    margin-bottom: 10px;
    border-radius: 10px;
}

#header_left{
    float: left;
    width: 250px;
    height: 80px;
    padding-top:30px;
}

#header_center{
    float:left;
    margin-left: 30px;
    width: 450px;
    height:100px;
    color:white;
}
#header_center h1{
    color:white;
}

#header_right{
    float:right;
    width: 250px;
    height: 100px;
}

#header_site{
    width:250px;
    height: 100px;
    float: right;
    border-radius: 10px;
    padding-top:15px;
    padding-left:15px;
    text-align:center;
}
#logged-in-as{
    color:white;
    font-size: 18px;
    font-family: verdana;
}
#header_site a:hover,a:visited, a:link{
    color:white !important;
    padding: 15px 10px 0 5px;
    margin-top:10px;
    text-align:center;
    text-decoration: none;
}
/* fin header */

/*corps de page*/
#accueil{
    /* background-image:url('/images/smc_logo_2013.png');*/
}


#accueil_centre{
    /* background-image:url("/images/smc_logo_2013.png");*/
    background-repeat:no-repeat;
    /*background-position: center;*/
    width: 300px;
    float:left;
    padding-left: 100px;
    padding-top: 30px;
}

#centre{
    width: 1024px;
    height: auto;
}


#Content{
    width:1024px;
    height:auto;
    background-color:white;
}

#menu{
    width: 900px;
    height: 70px;
    background-color:transparent;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom-right-radius:15px;
    border-top-left-radius:15px;
    margin-left: 62px;
    
}
#menu_haut,#menu_haut ul{
    padding:0;
margin:0;
list-style:none;
text-align:center;
    color:white;
}
#menu_haut li{
    
display:inline-block;
position:relative;
border-radius:8px 8px 0 0;
}

#menu_haut ul li{
   display:inherit;
border-radius:0; 
}
#menu_haut ul li:hover{
border-radius:0;
}
#menu_haut ul li:last-child{
border-radius:0 0 8px 8px;
}
#menu_haut ul{
position:absolute;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu_haut li:hover ul{
max-height:15em;
}

#menu_haut a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}
#menu_haut ul a{
padding:8px 0;
margin-top: 0px !important;
}
#menu_haut li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu_hautli:hover a, #menu_haut li li:hover a{
color:#fff;
}
/* background des liens menus */
#menu_haut li:first-child{
background-color: #729EBF;
background-image: -webkit-linear-gradient(top, #006699 33%,#74aaca 66%);
background-image:linear-gradient(to bottom, #006699 33%, #74aaca 66%);
}
#menu_haut li:nth-child(2){
background-color: #729EBF;
background-image: -webkit-linear-gradient(top, #006699 33%,#74aaca 66%);
background-image:linear-gradient(to bottom, #006699 33%, #74aaca 66%);
}
#menu_haut li:nth-child(3){
background-color: #729EBF;
background-image: -webkit-linear-gradient(top, #006699 33%,#74aaca 66%);
background-image:linear-gradient(to bottom, #006699 33%, #74aaca 66%);
}
#menu_haut li:nth-child(4){
background-color: #729EBF;
background-image: -webkit-linear-gradient(top, #006699 33%,#74aaca 66%);
background-image:linear-gradient(to bottom, #006699 33%, #74aaca 66%);
}
#menu_haut li:nth-child(5){
background-color: #729EBF;
background-image: -webkit-linear-gradient(top, #006699 33%,#74aaca 66%);
background-image:linear-gradient(to bottom, #006699 33%, #74aaca 66%);
}
#menu_haut li:nth-child(6){
background-color: #729EBF;
background-image: -webkit-linear-gradient(top, #006699 33%,#74aaca 66%);
background-image:linear-gradient(to bottom, #006699 33%, #74aaca 66%);
}
#menu_haut li:nth-child(7){
background-color: #729EBF;
background-image: -webkit-linear-gradient(top, #006699 33%,#74aaca 66%);
background-image:linear-gradient(to bottom, #006699 33%, #74aaca 66%);
}
#menu_haut li:last-child{
background-color: #729EBF;
background-image: -webkit-linear-gradient(top, #006699 33%,#74aaca 66%);
background-image:linear-gradient(to bottom, #006699 33%, #74aaca 66%);
}
/* background des liens sous menus */
#menu_haut li:first-child li{
background:#006699;
}

#menu_haut li:nth-child(2) li{
background:#006699;
}
#menu_haut li:nth-child(3) li{
background:#006699;
}
#menu_haut li:nth-child(4) li{
background:#006699;
}
#menu_haut li:nth-child(5) li{
background:#006699;
}
#menu_haut li:nth-child(6) li{
background:#006699;
}
#menu_haut li:nth-child(7) li{
background:#006699;
}
#menu_haut li:last-child li{
background:#006699;
}

/*#center{
    
    margin-left: 62px;
    width: 900px;
    height: auto;
    background-color:white;
    border-radius:10px;
    border: medium solid #006699;
}*/
#contenu{
    
    margin-left: 62px;
    width: 900px;
    height: auto;
    background-color:white;
    border-radius:10px;
    border: medium solid #006699;
    font-family: verdana;
    font-size: 12px;
}
.submit{
    color: white;
    height: 50px;
    width:70px;
    border-radius: 10px;
    background-color: #006699;
    border-right-width: 0px; 
    border-left-width: 0px;
    border-bottom-width:0px;
    border-top-width:0px;
    margin-left: 40%;
    margin-right: auto;
    
}
.required{
    font-family: verdana;
}

.field_info{
   
    width: 300px;
    float: left;
    margin-left: 30px;
}
.field{
    width: 725px;
    float:left;
    margin-bottom:25px;
    margin-left:25px;
}
fieldset legend{
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    font-family: verdana;
}
/*fin  corps de page */

/*footer*/
#footer{
    height: 200px;
    width: 1024px;
}

#logo img{
    float: left;
    margin-left:400px;

}
/*fin footer*/
h1{
    font-weight: bold;
    font-size: 48px;
    color: #006699;
    text-align: center;
    font-family: verdana;
    font-variant-caps: small-caps;
}

h2{
    font-weight:bold;
    font-size:34px;
    color: #006699;
    text-align:center;
}
h3{
    font-weight: bold;
    font-size: 20px;
    color: #006699;
    text-align: center;
}


/*tableau du module user**/
#tableIndex{
    float:left;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
}

#userIndex{
    border: medium solid grey;
    border-collapse: collapse;
}

#userIndex td,#userIndex th{
    border: thin solid grey;
    text-align:center;
    width: 150px;
}

#userIndex a:hover, a:visited, a:link{
    color: black;
}

#workplace{
    float:left;
    width: 755px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:25px;
    border: none;
}

#fieldset wp{
    width: 725px;
    float:left;
    margin-bottom:25px;
    margin-left:25px;
}

#information{
    width: 100%;
    height: auto;
    margin-bottom : 20px;
}

#info_user{
    width: 300px;
    float: left;
    margin-left: 25px;
}

#info_client{
    width: 300px;
    float:left;
    margin-left: 75px;
}

#information table{
    width: 315px;
    height: 200px;
}

#information input{
    width: 150px;
}

#information td{
    width: 200px;
}

#plop{
    float:left;
    height: 50px;
    color:white;
      width: 725px;
       margin-top:30px;
    margin-bottom:25px;
    margin-left:220px;
}
.plop{
   height: 50px;
    background-color:#268bd9;
    color:white; 
}
#fieldset-commentaires{
    width: 725px;
    float:left;
    margin-bottom:25px;
    margin-left:25px;
}

#demandeArticle{
    width: 750px;
    float:left;
    margin-top:30px;
    margin-bottom:25px;
    margin-left:25px;
}

#demandeArticle table,#demandeArticle th,#demandeArticle tr,#demandeArticle td{
    border-style:solid;
    border-color:black;
    border-width: thin;
}
#demandeArticle input{
    width: 60px;
}


#tableau{
    float:left;
    height: 50px;
      width: 725px;
       margin-top:30px;
    margin-bottom:25px;
    margin-left:210px;
}
#info_demande{
    float:left;
    height: 50px;
      width: 725px;
       margin-top:30px;
    margin-bottom:25px;
    margin-left:200px;
}
#tableau table,#tableau th,#tableau tr,#tableau td{
     border-style:solid;
    border-color:black;
    border-width: thin;
}
.article,.article th,.article tr,.article td{
    border-style:solid;
    border-color:black;
    border-width: thin;
}

.article button {
    width: 60px;
    background-color:#268bd9;
    color:white;
}
#tableau button {
    width: 60px;
    background-color:#268bd9;
    color:white;
}


#confirmcreate{
    width: 350px;
    border-style:solid;
    border-color: black;
    padding-left: 10px;
    padding-right:10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius:7px;
}

#fielset-justificatif{
    width: 750px;
    float:left;
    margin-bottom:25px;
    margin-left:25px;
}


#formcreate{
    width: 750px;
    float:left;
    margin-bottom:25px;
    margin-left:25px;
}

#faible-label,
#mini_demande_article-label,
#part_demande_article-label,
#concurrent_demande_article-label{
    float: left;
    width : 360px;
    height: 70px;
    margin-left: 10px;
    padding-top: 20px;
}

#faible-element,
#mini_demande_article-element,
#part_demande_article-element,
#concurrent_demande_article-element{
    float: right;
    width : 200px;
    height: 55px;
    margin-right: 100px;
    padding-top: 10px;
    margin-top: 10px;
}
#form_prixfob{

    width: 700px;
    float:left;
    margin-bottom:25px;
    margin-left:25px;
}

#commentaire_fobfr-label{

    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    font-family: verdana;
}
span {
    /*border-radius: 5px;
    border-color:grey;
    border-style:solid;
    border-width: 1px;*/
    width: 700px;
    float:left;
    text-align: center;
    margin-bottom:25px;
    margin-left:25px;
}
#prixcif, #prixfob {
    width: 60px !important;
}

#formlogin{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}


#formindex{
    /*width: 700px;
    margin-left: auto;
    margin-right: auto;
     float:left;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;*/
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
#view-content{
    width: 300px;
    float:left;
    margin-left: auto;
    margin-right: auto;
}

#num_offre_worplace-label{
    padding-left: 45px;
    padding-bottom: 20px;
    width: 250px;
}
#tracking_number-label{
    padding-bottom: 15px;
}

#just_demande 
{ width: 750px;
    float:left;
    margin-top:30px;
    margin-bottom:25px;
    margin-left:25px
        ;}

#comm_demande
{ width: 750px;
    float:left;
    margin-top:30px;
    margin-bottom:25px;
    margin-left:25px;
}

#cdr
{ width: 750px;
    float:left;
    margin-top:30px;
    margin-bottom:25px;
    margin-left:25px;
}

#valid_cdr
{ width: 750px;
    float:left;
    margin-top:30px;
    margin-bottom:25px;
    margin-left:25px;
    height: 130px;
}

#commentaire{
    width: 750px;
    float:left;
    margin-top:30px;
    margin-bottom:25px;
    margin-left:25px;
}
#commentaire table,
#commentaire tr,
#commentaire td{
    border-style:solid;
    border-color:black;
    border-width: thin;
    
}
#commentaire_dirco{
    width: 750px;
    float:left;
    margin-top:30px;
    margin-bottom:25px;
    margin-left:25px;
    height:240px;
}
#commentaire_dirco fieldset{
    height:240px;
}
#valid_dirco
{ width: 750px;
    float:left;
    margin-top:30px;
    margin-bottom:25px;
    margin-left:25px;
    height: 130px;
}

#comm_up{
    width: 750px;
    float:left;
    margin-top:30px;
    margin-bottom:25px;
    margin-left:25px;
}