/* 
    Document   : table1
    Created on : 7 nov. 2014, 09:35:15
    Author     : FRKeoheuaJ
    Description:
        Purpose of the stylesheet follows.
*/

#tableau table {
 width: 300px;
 margin: 0 auto;
 padding: 3px;
 border-spacing: 0px;
 border: solid 1px black;
 border-collapse: collapse;
 background-color: lightgrey;
 text-align: center;
 }
 
 #tableau th {
  width: 140px;
 }

